
!.vscode/extensions.json
# Editor directories and files
# Logs
# Wrangler / Cloudflare
*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
.DS_Store
.dev.vars
.env
.env.development
.idea
.nitro
.output
.tanstack/**
.vinxi
.vscode/*
.wrangler/
dist
dist-ssr
lerna-debug.log*
logs
node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
